/* :root {
    font-size: 10px;
} */

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    text-align: justify;
    background-color: #eee;
    line-height: 1.6;
    font-weight: 300;
    min-height: 200px;
}

.container {
    width: 80%;
    margin: auto;
}

.typografy {
    display: flex;
    font-size: 10px;
}

.typografy .col {
    flex: 1;
    margin: 0 0.5em;
    padding: 0 0.5em;
}

.col-em h2{
    font-size: 3rem;
}

.col-em p{
    font-size: 1rem;
}

.col-rem h2{
    font-size: 3rem;
}

.col-rem p{
    font-size: 1rem;
}

.foto {
    width: 300px;
    height: 200px;
    border: 2px solid #000;
    background-image: url(img/);
    background-size: cover;
    background-position: center;
}